<form action="/city/{{cityId}}/meetUp/{{meetUpId}}/boardGame" method="POST">
     <label for="name">Name</label>
     <input type="text" name="name">
 
     <label for="date">Date</label>
     <input type="text" name="date">

     <input type="submit" value="Create">
 </form> 