body {
  padding: 0px;
}

a {
  color: #00B7FF;
}

.delete {
  color: red;
  display: flex;
  justify-content: center;
  align-items: right;
  margin: 10px;
}

.edit {
  display: flex;
  justify-content: center;
  align-items: left;
  margin: 10px;
}

.your-turn {
  font-family: 'Share Tech Mono', monospace;
  font-size: 100px;
  font-style: italic;
}

.your-turn-nav{
  font-family: 'Share Tech Mono', monospace;
  font-style: italic;
  font-size: 70px;
}

h1, h2 {
  font-family: 'Raleway Dots', cursive;
  font-style: italic;
}

.pic-title {
  font-size: 40px;
  margin: 0 auto;
  padding: 0 auto;
}

.boston {
  background: #9dcdd4;
}

.group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 40px;
  padding: 10px;
}

.parallax-container {
  height: 600px;
}

.edit-delete {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid black;
}

.underline {
  text-decoration: underline;
}