body {
  padding: 0px;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

a {
  color: #00B7FF;
}

.delete {
  color: red;
}

.your-turn {
  font-family: 'Audiowide', cursive;
}

.pic-title {
  font-size: 40px;
  margin: 0 auto;
  padding: 0 auto;
}


nav {
  height: 80px;
  line-height: 80px;
  margin: 0px;
}

.boston {
  background: #9dcdd4;
}

.group{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 40px;
  padding: 10px;
}

.parallax-container {
  height: 600px;
}