<form action="/city/{{cityId}}/meetUp" method="POST">
     <label for="location">Location</label>
     <input type="text" name="location">
 
     <label for="date">Day</label>
     <input type="text" name="date">

     <label for="time">Time</label>
     <input type="text" name="time">

     <input type="submit" value="Create">
 </form> 